* {
    font-family: 'Bebas Neue', cursive;
    
}

h1 {
    text-align: center;
    font-size: 75px;
    margin-top: 70px;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.card__holder {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 100px;
}

.card__holder button:hover{
 border: #119EF8 solid;
}

.border {
    border: #119EF8 solid ;
}


.rock__btn {
    background-image: url("/Limestone-060-RD010-C-SH_by22j3.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;

}

.paper__btn {
    background-image: url("/paper.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
}

.scissors__btn {
    background-image: url("/siccors.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
}

.play {
    display: flex;
    justify-content: center;
}

.playBtn {
    height: 50px;
    width: 100px;
    border-radius: 5%;
    background-color: #119EF8;
    color: white;
    font-size: 20px;
}

.results {
    display: flex;
    justify-content: center;
    margin: 75px;
    font-size: 32px;
    
}

.score {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 50px;
    font-size: 32px;
}

.round div {
    display: flex;
    justify-content: center;
}

.human div {
    display: flex;
    justify-content: center;
}

.machine div {
    display: flex;
    justify-content: center;
}

.message {
    font-size: 60px;
    z-index: 10000;
    font-family: Arial, Helvetica, sans-serif;
}